<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Review</title>
    <link rel="stylesheet" href="../static/themes.css">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body class="{{ current_user.theme }}">
<nav class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="sidebar-logo">
            <img src="../static/images/logo.png" alt="star_logo">
                </div>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="{{url_for('home')}}" class="nav-link">
                    <span class="nav-text">Home Page</span>
                </a>
            </li>
            <li class="nav-item">
                <!--Select used instead of buttons-->
                <!--Ideally there will be multiple themes-->
                <select id="theme-toggle" class="nav-link">
                    <option value="dark-mode">Dark Mode</option>
                    <option value="purple">Dark Purple</option>
                    <option value="light-mode">Light Mode</option>
                    <option value="light-green">Light Green</option>
                    <option value="rose">Rose</option>
                    <option value="sunset">Sunset</option>
                    <option value="sunrise">Sunrise</option>
                </select>
            </li>
        </ul>
        <ul class="sidebar-footer">

            <li class="nav-item" id="logout-btn">
                <a href="{{url_for('logout')}}" class="nav-link">
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>


<main class="main-content single-sidebar">

    <div class="form-container">

    <div class="review-form">
        <form method="POST" action="/edit/{{ review.id }}">
        <!--<input type="hidden" name="image_url" value="{{review.image_url}}">-->
        <input type="hidden" name="category" value="{{review.category}}">

        <div class="review-header">
            <input type="text" name="title" value="{{ review.title }}" class="title-input">
                <span class="edit-close">
                    <a id="edit-close" href="{{url_for('home')}}">&times;</a>
                </span>
            <div class="media-flex">
               <!-- Left Column: Poster/Cover, Rating, Dates -->
                <div class="media-left">
                    {% if review.image_url %}
                    <img src="{{review.image_url}}" alt="{{review.title}}" class="edit-img">
                    {% else %}
                    <label class="left-labels">Add Image:</label>
                    {% endif %}
                    <textarea class="edit-image-input" name="image_url">{{review.image_url}}</textarea>

                    <div class="rating-dates">
                        <label class="left-labels">Rating:</label>
                         <select id="rating" name="rating" required>
                            <option value="1" {% if review.rating == 1 %}selected{% endif %}>★☆☆☆☆</option>
                            <option value="2" {% if review.rating == 2 %}selected{% endif %}>★★☆☆☆</option>
                            <option value="3" {% if review.rating == 3 %}selected{% endif %}>★★★☆☆</option>
                            <option value="4" {% if review.rating == 4 %}selected{% endif %}>★★★★☆</option>
                            <option value="5" {% if review.rating == 5 %}selected{% endif %}>★★★★★</option>
                         </select>
                        {% if review.date_finished %}
                        <label class="left-labels">Finish Date:</label>
                        <input type="date" id="date_finished" name="date_finished" value="{{review.date_finished}}"/>
                        {% endif %}
                        {% if custom_fields %}
                        {% for key, value in custom_fields.items() %}
                        <label class="custom-labels">{{ key }}:</label>
                            {% if key=="Release Year"%}
                                <input type="number" name="{{key}}" value="{{ value }}" class="custom_input">
                            {% else %}
                                <input type="text" name="{{key}}" value="{{ value }}" class="custom_input">
                            {% endif %}
                        {% endfor %}
                        {% endif %}

                    </div>
                </div>

                <!-- Right Column: Review, Tags -->
                <div class="media-right">
                    <h3 class="review-label">Review:</h3>
                    <textarea id="review-text" name="review_text">{{review.content}}</textarea>

                    <p class="tags-label">Tags (comma separated):</p>
                    <input type="text" class="tags-input" id="tags-input" name="tags-input" value="{{review.tags}}" />



                </div>


            </div>
            <div class = "review-btns">
                    <button type="submit" class="review-btn">Update Review</button>
                    </div>
        </div>
            </form>

    </div>
    </div>

</main>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
</body>
</html>