<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="wrapper">
    <h2>Login</h2>

    <form method="POST" action="">
        {{form.hidden_tag() }}
        <div class="input-form">
            {{ form.username(class="input_style", placeholder="Username") }}
        </div>

        <div class="input-form">
            {{ form.password(class="input_style", placeholder="Password") }}
        </div>

        <div class="form-button">
        {{ form.submit(class="form-button")}}
        </div>

    </form>

    <div class="page-link">
        <p>Don't have an account?
            <a href="{{url_for('register')}}">Register</a>
        </p>
    </div>

</body>
</html>