<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Review</title>
    <link rel="stylesheet" href="../static/themes.css">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body class="{{ current_user.theme }}">
<nav class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <img src="../static/images/logo.png" alt="star_logo" class="sidebar-logo">
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="{{url_for('home')}}" class="nav-link">
                <span class="nav-text">Home Page</span>
            </a>
        </li>
        <li class="nav-item">
            <!--Select used instead of buttons-->
            <!--Ideally there will be multiple themes-->
            <select id="theme-toggle" class="nav-link">
                <option value="dark-mode">Dark Mode</option>
                <option value="light-mode">Light Mode</option>
            </select>
        </li>
    </ul>
    <ul class="sidebar-footer">

        <li class="nav-item" id="logout-btn">
            <a href="{{url_for('logout')}}" class="nav-link">
                <span class="nav-text">Logout</span>
            </a>
        </li>
    </ul>
</nav>


<main class="main-content single-sidebar">

    <div class="form-container">

        <div class="review-form">
            <form method="POST" action="/manual-review">
                <input type="hidden" name="category" value="{{ category }}">

                <div class="review-header">

                    <input type="text" name="title" class="title-input" placeholder="Title" required>
                    <span class="review-close">
        <a id="review-close" href="{{url_for('search')}}">&times;</a>
    </span>

                    <div class="review-meta">
                    </div>

                    <div class="media-flex">
                        <!-- Left Column: Poster/Cover, Rating, Dates -->
                        <div class="custom-media-left">
                            <!--image-->
                            <label class="custom-labels">Image URL:</label>
                            <textarea class="image-input" name="image_url"
                                      placeholder="https://example.com/image.jpg"></textarea>

                            {% if category == "Book" %}
                            <label class="custom-labels">Author:</label>
                            <input type="text" name="author" class="fields-input" required>
                            {% endif %}
                            <label class="custom-labels">Release Year:</label>
                            <input type="number" class="fields-input" name="year" placeholder="YYYY" required>

                            <div class="rating-dates">
                                <label class="left-labels">Rating:</label>
                                <select id="rating" name="rating" required>
                                    <option value="1">★☆☆☆☆</option>
                                    <option value="2">★★☆☆☆</option>
                                    <option value="3">★★★☆☆</option>
                                    <option value="4">★★★★☆</option>
                                    <option value="5">★★★★★</option>
                                </select>
                                <label class="left-labels">Finish Date:</label>
                                <input type="date" id="date_finished" name="date_finished" placeholder="mm/dd/yyyy"/>
                            </div>

                        </div>

                        <!-- Right Column: Review, Tags -->
                        <div class="media-right">
                            <h3 class="review-label">Review:</h3>
                            <textarea id="review-text" name="review_text" required></textarea>

                            <p class="tags-label">Tags (comma separated):</p>
                            <input type="text" class="tags-input" id="tags-input" name="tags_input"
                                   placeholder="e.g. fantasy, drama"/>

                        </div>
                    </div>

                    <div class="review-btns">
                        <button type="submit" class="review-btn">Save Review</button>
                    </div>

                </div>
            </form>


        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='theme.js') }}"></script>
</body>
