<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<div class="page-container">
<div class="wrapper">
    <h2>Register</h2>

    <form method="POST" action="">
        {{form.hidden_tag() }}
        <div class="input-form">
            {{ form.username(class="input_style", placeholder="Username") }}
        </div>

        <div class="input-form">
            {{ form.password(class="input_style", placeholder="Password") }}
        </div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

        <div class="form-button">
        {{ form.submit(class="form-button")}}
        </div>

    </form>

    <div class="page-link">
        <p>Already have an account?
            <a href="{{url_for('login')}}">Login</a>
        </p>
    </div>
</div>
</body>
</html>