<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Review</title>
    <link rel="stylesheet" href="../static/themes.css">
    <link rel="stylesheet" href="../static/style.css">
        <script src="https://kit.fontawesome.com/0ce6cae193.js" crossorigin="anonymous"></script>


</head>
<body class="{{ current_user.theme }}">
<nav class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <img src="../static/images/logo.png" alt="star_logo" class="sidebar-logo">
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="{{url_for('home')}}" class="nav-link">
                    <span class="nav-text">Home Page</span>
                </a>
            </li>
        </ul>
        <ul class="sidebar-footer">
            <li class="nav-item">
                <!--Select used instead of buttons-->
                <!--Ideally there will be multiple themes-->
                <select id="theme-toggle" class="nav-link">
                    <option value="dark-mode">Dark Mode</option>
                    <option value="light-mode">Light Mode</option>
                </select>
            </li>
            <li class="nav-item">
                <a href="{{url_for('logout')}}" class="nav-link">
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>

<aside class="category-sidebar" id="categorySidebar">
        <div class="category-sidebar-header">
            <h3>New Review</h3>
        </div>

        <div class="sidebar-content">
            <div class="sidebar-group">
                <h4 class="sidebar-group-title">Searchable Categories</h4>
                <button class="sidebar-btn">
                    <span class="sidebar-text">Movies</span>
                </button>
                <button class="sidebar-btn">
                    <span class="sidebar-text">TV Shows</span>
                </button>
                <button class="sidebar-btn">
                    <span class="sidebar-text">Books</span>
                </button>
            </div>
            <div class="sidebar-group">
                <h4 class="sidebar-group-title">Custom Categories</h4>
                <a href="{{url_for('custom')}}" class="sidebar-btn">
                    <span class="sidebar-text">NEW +</span>
                </a>
            </div>
        </div>
    </aside>

<main class="main-content">
    <div class="dynamic-container">
    <div class="search-title">
    </div>

<div class="search-container">
        <input type="text" class="media-search" id="media-search" placeholder="Search..."/>
        <button type="button" class="search-btn" id="search-btn">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span></button>
</div>
    <div id="search-results">

    </div>
    </div>
</main>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</body>
</html>