/* FONTS */
@font-face {
    font-family: 'berk';
    src: url('./fonts/kkberkbm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* THEME 1/MAIN */
:root, .dark {
    --accent-color: #FF6BB5;
    --accent-hover: #ff52b7;
    --bg-main: #1A1A1A;
    --bg-card: #2D1F2E;
    --bg-overlay: rgba(255, 142, 199, 0.05);
    --text-primary: #FFFFFF;
    --text-secondary: #CCCCCC;
    --border-color: rgba(255, 142, 199, 0.2);
    --shadow-color: rgba(255, 142, 199, 0.3);
    --logo-color: #FFFFFF;
    --text-dark: #353935;


    --sidebar-width: 280px;
    --font-main: 'berk', sans-serif;
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --radius-md: 12px;

}

/* BASE STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    /*background: linear-gradient(135deg, var(--bg-card) 0%, var(--bg-main) 50%);*/
    color: var(--text-primary);
    min-height: 100vh;
    line-height: 1.6;
    font-family: var(--font-main);
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
button { cursor: pointer; border: none; outline: none; }




/*THEME 2*/
.light {
    --accent-color: #6B7FD9;
    --accent-hover: #5A6FC8;


    --bg-main: #EEF4FB;
    --bg-card: #DAEAF7;
    --bg-overlay: rgba(74, 144, 217, 0.05);

    --border-color:rgb(74 144 217 / 32%);
    --shadow-color: rgba(74, 144, 217, 0.2);
    --logo-color: #6B7FD9;

    --text-primary: #1A2A3A;
    --text-secondary: #4A5A6A;

    --text-white: #FFFFFF;
    --text-dark: #353935;
}


body.light .review-btn:hover {
    color: var(--text-white);
}

body.light .search-container:focus-within .search-icon {
color: var(--text-white);
}



/*THEME 3*/
.rose {
    --accent-color: #1E3FA8;
    --accent-hover: #f38aa7;

    --bg-main: #faeff2;
    /*--bg-main: #f6d1db;*/
    --bg-card: #fbbbcd;
    --bg-overlay: rgba(74, 144, 217, 0.05);

    --border-color: rgba(150, 62, 87, 0.35);
    --shadow-color: rgba(74, 144, 217, 0.2);
    --logo-color: #faeff2;

    --text-primary: #1E3FA8;
    --text-secondary: #0e277b;

    --text-white: #fff5f5;
    --text-dark: #1E1B2E;
}

body.rose .review p,
body.rose .modal-review-content,
body.rose .modal-release-author {
color: var(--text-dark);
}

body.rose .search-title,
body.rose #manual-txt {
    color: var(--accent-color);    
}

body.rose .search-container:focus-within .search-icon {
color: var(--text-white);
}

body.rose .review-btn:hover {
    color: var(--text-white);
}



/*THEME 4*/
.sunset {
    --accent-color: #FF9640;
    --accent-hover: #ec7a1e;

    --bg-main: linear-gradient(#5B3A9B, #FF9640 55%, #FF6BB5);
    --bg-card: #4E2A6B;
    --bg-overlay: rgba(74, 144, 217, 0.05);

    --border-color: #6d478c;
    --shadow-color: rgba(74, 144, 217, 0.2);
    --logo-color: #FF9640;

    --text-primary: #eadaf6;
    --text-secondary: #E4D3F0;

    --text-white: #FFFFFF;
    --text-dark: #1E1B2E;
}

body.sunset {
background: linear-gradient(#5B3A9B, #FF9640 55%, #FF6BB5);

}

body.sunset .review-btn:hover {
    color: var(--text-white);
}



/*THEME 5*/

.sunrise {
    --accent-color: #6171d7;
    --accent-hover: #5757d0;

    --bg-main: linear-gradient(#24346B, #F0AAC7 55%, #F5E29B);
    --bg-card: #fdf3da;
    --bg-overlay: rgba(74, 144, 217, 0.05);

    --border-color: #D9B879;
    --shadow-color: rgba(74, 144, 217, 0.2);
    --logo-color: #D9B879;

    --text-primary: #3A2E1A;
    --text-secondary: #7A6248;

    --text-white: #fffff6;
    --text-dark: #3A2E1A;
}

body.sunrise {
background: linear-gradient(#24346B, #F0AAC7 55%, #F5E29B);

}

body.sunrise .review-btn:hover {
    color: var(--text-white);
}

body.sunrise .modal-content::-webkit-scrollbar-thumb,
body.sunrise .category-sidebar::-webkit-scrollbar-thumb{
background: var(--border-color);}

body.sunrise .search-title,
body.sunrise #manual-txt {
    color: var(--text-white);    
}

body.sunrise .search-icon, body.sunrise .search-btn {
color: var(--text-white);
}

body.sunrise .search-container {
border-color: var(--text-secondary);
}

body.sunrise .search-btn {
background: var(--text-secondary);
}

body.sunrise .search-container:focus-within {
    border-color: var(--border-color);
}

body.sunrise .search-container:focus-within .search-btn {
background: var(--border-color);
}

body.sunrise #manual-btn {
border-color: var(--text-secondary);
}

body.sunrise #manual-btn:hover {
border-color: var(--border-color);
}



/*THEME 6*/
.green {
    --accent-color: #437b67;
    --accent-hover: #366655;

    --bg-main: #EDF4ED;
    --bg-card: #c6e5d1;
    --bg-overlay: rgba(108, 155, 124, 0.3);

    --border-color: #6c9b7c;
    --shadow-color: rgba(74, 144, 217, 0.2);
    --logo-color: #437b67;

    --text-primary: #200e02;
    --text-secondary: #2d1212;

    --text-white: #FFFFFF;
    --text-dark: #0d111e;
}

body.green .search-icon, body.green .search-btn {
color: var(--text-white);
}

/*THEME 7*/
.purple {
    --accent-color: #B24BF3;
    --accent-hover: #C97AFF;

    --bg-main: #150620;
    --bg-card: #2c1c39;
    --bg-overlay: rgba(137, 108, 155, 0.3);

    --border-color: #4A2A66;
    --shadow-color: rgba(74, 144, 217, 0.2);

    --text-primary: #ffffff;
    --text-secondary: #C3AEDD;

    --text-white: #FFFFFF;
    --text-dark: #0d111e;
}

