/* FONTS */
@font-face {
    font-family: 'berk';
    src: url('./fonts/kkberkbm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Main/dark mode */
:root {
    --accent-color: #FF6BB5;
    --accent-hover: #ff52b7;
    --bg-main: #1A1A1A;
    --bg-card: #2D1F2E;
    --bg-overlay: rgba(255, 142, 199, 0.05);
    --text-primary: #FFFFFF;
    --text-secondary: #CCCCCC;
    --border-color: rgba(255, 142, 199, 0.2);
    --shadow-color: rgba(255, 142, 199, 0.3);
    --text-dark: #353935;


    --sidebar-width: 280px;
    --font-main: 'berk', sans-serif;
    --font-body: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --radius-md: 12px;

}

/* BASE STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    /*background: linear-gradient(135deg, var(--bg-card) 0%, var(--bg-main) 50%);*/
    color: var(--text-primary);
    min-height: 100vh;
    line-height: 1.6;
    font-family: var(--font-main);
}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
button { cursor: pointer; border: none; outline: none; }

body.light-mode {
    --accent-color: #6B7FD9;
    --accent-hover: #5A6FC8;


    --bg-main: #EEF4FB;
    --bg-card: #DAEAF7;
    --bg-overlay: rgba(74, 144, 217, 0.05);

    --border-color:rgb(74 144 217 / 32%);
    --shadow-color: rgba(74, 144, 217, 0.2);

    --text-primary: #1A2A3A;
    --text-secondary: #4A5A6A;

    --text-white: #FFFFFF;
    --text-dark: #353935;
}


body.light-mode .sidebar {
/*prev: 180deg*/
    background: linear-gradient(293deg, #E0EDFF 0%, #E8E0FF 100%);
}

body.light-mode .review-btn:hover, .edit-btn:hover, .delete-btn:hover {
    color: var(--text-white);
}


body.light-berry {
    --accent-color: #172357;
    --accent-hover: #b98391;


    --bg-main: #eeeeee;
    --bg-card: #d9a6b3;
    --bg-overlay: rgb(185 131 145 / 40%);

    --border-color:#e2e2dA;
    --shadow-color: rgba(74, 144, 217, 0.2);

    --text-primary: #172357;
    --text-secondary: #172357;

    --text-white: #FFFFFF;
    --text-dark: #353935;
}


body.light-berry .sidebar {
/*prev: 180deg*/
    background: linear-gradient(293deg, #B98391 0%, #d9a6b3 100%);
}

body.light-berry .review-btn:hover, .edit-btn:hover, .delete-btn:hover, .sidebar-btn:hover {
    color: var(--text-white);
}